html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  transition: all 250ms ease-in;
  opacity: 0;
}

.diamond {
  height: 80px;
  right: 4em;
  top: calc(50% - 40px);
  width: 80px;
  transition: all 250ms ease-in;
  background-color: hotpink;
  transform: rotate(45deg);
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  max-height: 10em;
  overflow: hidden;
  transition: all 250ms ease-out;

  color: darkgoldenrod;
  text-align: center;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  position: absolute;
  background-color: orange;
}

@keyframes btn-bounce {
    0% {
    left: 90px;
    }
    
    40% {
        top: 65px;
    }
    
    60% {
        left: 100px;
    }
    
    100% {
        right: 100px;
    }
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;
  overflow: hidden;
  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
}

.js-panel-collapse-expand {
    max-height: 0;
    overflow: hidden;
}

.js-box-show-hide {
    opacity: 1;
    transition: all 250ms ease-out;
}

.js-diamond-slide {
    right: -5em;
    transition: all 250ms ease-out;
    
}

.js-btn-bounce {
    animation: btn-bounce 1s linear;
}

.new-li {
    animation: js-apend 1s ease-in;
}

@keyframes js-apend {
    0% {
        max-height: 5px ;
    }
    100% {
        max-height: 4em;
    }